<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<style>
body {padding:0; margin:0; text-align:center; background-color:#ffffff}
.page {margin:10px 0}
.page svg {background-color:#ffffff}
</style>
</head>
<body>

<div class="page">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   xml:space="preserve"
   width="793.33331"
   height="1122.6667"
   viewBox="0 0 793.33331 1122.6667"><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs6"><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath18"><path
         d="M 0,0.32 H 595.44 V 842 H 0 Z"
         id="path16" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath28"><path
         d="M 54.75,816.1953 H 312.1358 V 827.75 H 54.75 Z"
         id="path26" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42"><path
         d="m 241.4431,806.3617 h 34.6153 v 9.5501 h -34.6153 z"
         id="path40" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath56"><path
         d="m 276.0584,806.5575 h 72 v 9.3543 h -72 z"
         id="path54" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath70"><path
         d="m 248.943,796.8415 h 92.75 v 9.3203 h -92.75 z"
         id="path68" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath84"><path
         d="m 54.75,795.2614 h 186.693 v 10.4375 H 54.75 Z"
         id="path82" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath98"><path
         d="m 54.75,785.6345 h 186.693 v 9.3543 H 54.75 Z"
         id="path96" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath112"><path
         d="m 412.6202,776.0071 h 149.467 v 9.3543 h -149.467 z"
         id="path110" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath126"><path
         d="m 384.2737,776.0071 h 28.3464 v 9.3525 h -28.3464 z"
         id="path124" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath140"><path
         d="m 54.75,775.197 h 186.6928 v 10.4375 H 54.75 Z"
         id="path138" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath154"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path152" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath164"><path
         d="m 54.75,748.4973 h 388.7971 v 24.6406 H 54.75 Z"
         id="path162" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath178"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path176" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath188"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path186" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath198"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path196" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath208"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path206" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath218"><path
         d="m 444.2971,750.6379 h 118.9721 v 22.5 H 444.2971 Z"
         id="path216" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath232"><path
         d="m 125.2407,708.5683 h 172.9652 v 14.1732 H 125.2407 Z"
         id="path230" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath246"><path
         d="m 301.75,597.6616 h 2.5 v 125.58 h -2.5 z"
         id="path244" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath256"><path
         d="m 309.1184,708.5683 h 254.4343 v 14.1732 H 309.1184 Z"
         id="path254" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath270"><path
         d="m 58.1537,695.2455 h 175.0964 v 10.9961 H 58.1537 Z"
         id="path268" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath284"><path
         d="m 233.25,695.2455 h 65.4041 v 10.9961 H 233.25 Z"
         id="path282" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath298"><path
         d="m 309.1183,688.649 h 254.4375 v 14.25 H 309.1183 Z"
         id="path296" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath312"><path
         d="m 58.1537,683.7415 h 175.0964 v 10.9961 H 58.1537 Z"
         id="path310" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath326"><path
         d="m 233.25,683.7415 h 65.4041 v 10.9961 H 233.25 Z"
         id="path324" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath340"><path
         d="m 309,672.116 h 254.4375 v 11.5547 H 309 Z"
         id="path338" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath354"><path
         d="m 309,659.2325 h 254.4375 v 11.5547 H 309 Z"
         id="path352" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath368"><path
         d="m 56.25,646.3614 h 176.533 v 10.9961 H 56.25 Z"
         id="path366" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath382"><path
         d="m 232.7869,646.3614 h 65.776 v 10.9961 h -65.776 z"
         id="path380" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath396"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path394" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath406"><path
         d="m 309,643.076 h 254.4375 v 15.3047 H 309 Z"
         id="path404" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath420"><path
         d="m 309.12,615.9645 h 151.0839 v 11.5547 H 309.12 Z"
         id="path418" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath434"><path
         d="m 307.4693,604.7971 h 40.32 v 10.9961 h -40.32 z"
         id="path432" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath448"><path
         d="m 348.5357,604.7971 h 111.6682 v 10.9961 H 348.5357 Z"
         id="path446" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath462"><path
         d="m 307.4723,593.801 h 40.32 v 10.9961 h -40.32 z"
         id="path460" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath476"><path
         d="m 348.5357,593.801 h 111.6682 v 10.9961 H 348.5357 Z"
         id="path474" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath490"><path
         d="m 307.4693,582.8049 h 40.32 v 10.9961 h -40.32 z"
         id="path488" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath504"><path
         d="M 348.5357,582.8049 H 460.2039 V 593.801 H 348.5357 Z"
         id="path502" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath518"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path516" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath528"><path
         d="m 56.25,556.5263 h 325.2342 v 10.5886 H 56.25 Z"
         id="path526" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath542"><path
         d="m 381.4842,556.5263 h 42.5197 v 10.5886 h -42.5197 z"
         id="path540" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath556"><path
         d="m 424.0039,556.5263 h 25.5118 v 10.5886 h -25.5118 z"
         id="path554" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath570"><path
         d="m 449.5156,556.5263 h 62.3623 v 10.5886 h -62.3623 z"
         id="path568" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath584"><path
         d="m 511.8778,556.5263 h 53.8583 v 10.5886 h -53.8583 z"
         id="path582" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath598"><path
         d="m 56.25,543.7483 h 325.2342 v 9.9492 H 56.25 Z"
         id="path596" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath612"><path
         d="m 381.4842,543.7483 h 42.5197 v 9.9492 h -42.5197 z"
         id="path610" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath626"><path
         d="m 449.7896,543.7483 h 62.3622 v 9.9492 h -62.3622 z"
         id="path624" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath640"><path
         d="m 512.1518,543.7483 h 53.8583 v 9.9492 h -53.8583 z"
         id="path638" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath654"><path
         d="M 54,10 H 568 V 828 H 54 Z"
         id="path652" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath668"><path
         d="m 251.2993,490.4688 h 185.3731 v 17.0079 H 251.2993 Z"
         id="path666" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath682"><path
         d="m 436.6724,490.4688 h 99.1137 v 17.0079 h -99.1137 z"
         id="path680" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath696"><path
         d="m 536.569,489.9836 h 31.181 v 17.0079 h -31.181 z"
         id="path694" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath710"><path
         d="m 54.75,20.7157 h 58.2232 V 32.6688 H 54.75 Z"
         id="path708" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath724"><path
         d="M 112.9732,20.7157 H 226.359 V 32.6688 H 112.9732 Z"
         id="path722" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath738"><path
         d="M 226.3591,20.7157 H 405.0652 V 32.6688 H 226.3591 Z"
         id="path736" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath752"><path
         d="M 405.0652,20.7157 H 541.1283 V 32.6688 H 405.0652 Z"
         id="path750" /></clipPath><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath766"><path
         d="m 541.1282,21.6846 h 23.5167 v 10.9843 h -23.5167 z"
         id="path764" /></clipPath></defs><g
     id="g10"
     transform="matrix(1.3333333,0,0,-1.3333333,0,1122.6667)"><g
       id="g12"><g
         id="g14"
         clip-path="url(#clipPath18)"><path
           d="M 0,0.32 H 595.44 V 842 H 0 Z"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path20" /></g></g><g
       id="g22"><g
         id="g24"
         clip-path="url(#clipPath28)"><g
           id="g30"><text
             transform="matrix(1,0,0,-1,56.25,818.8525)"
             style="font-variant:normal;font-weight:bold;font-size:9px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text34"><tspan
               x="0 6.4995122 11.504883 16.510254 21.515625 26.520994 33.020508 36.522949 41.52832 47.025879 50.022949 55.520504 58.020992 63.026363 65.526855 69.029297 71.529785 77.027344"
               y="0"
               id="tspan32">DaskaCrypto s.r.o.</tspan></text></g></g></g><g
       id="g36"><g
         id="g38"
         clip-path="url(#clipPath42)"><g
           id="g44"><text
             transform="matrix(1,0,0,-1,265.6135,808.71)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text48"><tspan
               x="0 1.944824 7"
               y="0"
               id="tspan46">IČ:</tspan></text></g></g></g><g
       id="g50"><g
         id="g52"
         clip-path="url(#clipPath56)"><g
           id="g58"><text
             transform="matrix(1,0,0,-1,277.5584,808.8079)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text62"><tspan
               x="0 3.8930662 7.7861323 11.679198 15.572265 19.46533 23.358397 27.251463"
               y="0"
               id="tspan60">17332648</tspan></text></g></g></g><g
       id="g64"><g
         id="g66"
         clip-path="url(#clipPath70)"><g
           id="g72"><text
             transform="matrix(1,0,0,-1,265.1991,799.0749)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text76"><tspan
               x="0 5.0551758 8.9482422 10.503418 14.003418 19.834473 23.727539 25.672363 29.56543 31.120605 35.013672 36.958496 40.458496 42.013672 43.958496 49.013672 53.682617"
               y="0"
               id="tspan74">Nejsme plátci DPH</tspan></text></g></g></g><g
       id="g78"><g
         id="g80"
         clip-path="url(#clipPath84)"><g
           id="g86"><text
             transform="matrix(1,0,0,-1,56.25,797.7067)"
             style="font-variant:normal;font-weight:normal;font-size:8px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text90"><tspan
               x="0 5.7773442 7.554688 12.003906 16.453125 20.902344 25.351562 27.574217 32.023438 36.472656 40.921871 43.144527 47.593746"
               y="0"
               id="tspan88">Dlouhá 715/38</tspan></text></g></g></g><g
       id="g92"><g
         id="g94"
         clip-path="url(#clipPath98)"><g
           id="g100"><text
             transform="matrix(1,0,0,-1,56.25,787.5382)"
             style="font-variant:normal;font-weight:normal;font-size:8px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text104"><tspan
               x="0 4.4492183 8.8984365 13.347655 15.570312 20.019529 24.468748 26.691404 32.02734 34.691402 39.140621 43.58984"
               y="0"
               id="tspan102">110 00 Praha</tspan></text></g></g></g><g
       id="g106"><g
         id="g108"
         clip-path="url(#clipPath112)"><g
           id="g114"><text
             transform="matrix(1,0,0,-1,414.1202,778.2575)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text118"><tspan
               x="0 3.8930662 5.4482422 8.9482422 12.841309 16.734375 20.627439 24.520506 28.413572 32.306637 36.199703 43.30566 46.80566 50.698727 54.591793 58.484859 60.040035 61.595211 63.540035 67.040039 70.933105"
               y="0"
               id="tspan116">picen97364@saeoil.com</tspan></text></g></g></g><g
       id="g120"><g
         id="g122"
         clip-path="url(#clipPath126)"><g
           id="g128"><text
             transform="matrix(1,0,0,-1,389.3408,778.2566)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text132"><tspan
               x="0 4.6689453 7 12.831055 16.724121 18.279297 19.834473"
               y="0"
               id="tspan130">E-mail:</tspan></text></g></g></g><g
       id="g134"><g
         id="g136"
         clip-path="url(#clipPath140)"><g
           id="g142"><text
             transform="matrix(1,0,0,-1,56.25,777.6423)"
             style="font-variant:normal;font-weight:normal;font-size:8px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text146"><tspan
               x="0 5.7773442 10.226562 14.226562 18.226562 22.675781 24.898438 27.5625 32.011719 36.460938 40.910156 45.359371 47.136715 48.914062 52.914062"
               y="0"
               id="tspan144">Česká republika</tspan></text></g></g></g><g
       id="g148"><g
         id="g150"
         clip-path="url(#clipPath154)"><path
           d="m 54.75,773.1379 h 388.7971 v 0.75 H 54.75 Z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path156" /></g></g><g
       id="g158"><g
         id="g160"
         clip-path="url(#clipPath164)"><g
           id="g166"><text
             transform="matrix(1,0,0,-1,54.75,755.9641)"
             style="font-variant:normal;font-weight:bold;font-size:14px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text170"><tspan
               x="0 8.5517569 16.337889 24.124022 28.786131 37.337887 42.786129 50.572262 54.46191 63.013668 68.461914 72.351562 76.241203 84.027336 88.689445"
               y="0"
               id="tspan168">Faktura přijatá</tspan></text></g></g></g><g
       id="g172"><g
         id="g174"
         clip-path="url(#clipPath178)"><path
           d="m 443.5471,749.8879 h 0.75 v 24 h -0.75 z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path180" /></g></g><g
       id="g182"><g
         id="g184"
         clip-path="url(#clipPath188)"><path
           d="m 563.2692,749.8879 h 0.75 v 24 h -0.75 z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path190" /></g></g><g
       id="g192"><g
         id="g194"
         clip-path="url(#clipPath198)"><path
           d="m 443.5471,773.1379 h 120.4721 v 0.75 H 443.5471 Z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path200" /></g></g><g
       id="g202"><g
         id="g204"
         clip-path="url(#clipPath208)"><path
           d="m 443.5471,749.8879 h 120.4721 v 0.75 H 443.5471 Z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path210" /></g></g><g
       id="g212"><g
         id="g214"
         clip-path="url(#clipPath218)"><g
           id="g220"><text
             transform="matrix(1,0,0,-1,463.3076,757.0344)"
             style="font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text224"><tspan
               x="0 10.110352 18.662109 26.448242 34.234375 42.020504 49.806637 57.59277 65.378899 73.165031"
               y="0"
               id="tspan222">DF{{ transaction_id }}</tspan></text></g></g></g><g
       id="g226"><g
         id="g228"
         clip-path="url(#clipPath232)"><g
           id="g234"><text
             transform="matrix(1,0,0,-1,126.7407,712.5348)"
             style="font-variant:normal;font-weight:bold;font-size:9px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text238"><tspan
               x="0 6.4995122 11.504883 14.501953 19.999512"
               y="0"
               id="tspan236">Datum</tspan></text></g></g></g><g
       id="g240"><g
         id="g242"
         clip-path="url(#clipPath246)"><path
           d="m 303,722.7416 v -124.58"
           style="fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           id="path248" /></g></g><g
       id="g250"><g
         id="g252"
         clip-path="url(#clipPath256)"><g
           id="g258"><text
             transform="matrix(1,0,0,-1,310.6184,712.5348)"
             style="font-variant:normal;font-weight:bold;font-size:9px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text262"><tspan
               x="0 6.4995122 11.99707 17.494629 22.5 27.505369 32.510742 35.507812 40.51318"
               y="0"
               id="tspan260">Dodavatel</tspan></text></g></g></g><g
       id="g264"><g
         id="g266"
         clip-path="url(#clipPath270)"><g
           id="g272"><text
             transform="matrix(1,0,0,-1,145.2974,697.7967)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text276"><tspan
               x="0 4.7272944 7.5578609 9.4462891 11.334717 16.062012 18.423584 20.785156 23.146727 25.977293 30.704588 35.431881 37.320312 42.047604 44.409176 49.136471 53.863766 58.591061 60.952633 63.314205 69.452637 75.12207 81.260498 84.091064"
               y="0"
               id="tspan274">přijetí (uplatnění DPH):</tspan></text></g></g></g><g
       id="g278"><g
         id="g280"
         clip-path="url(#clipPath284)"><g
           id="g286"><text
             transform="matrix(1,0,0,-1,234.75,697.7967)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text290"><tspan
               x="0 4.7272944 9.4545889 11.816161 16.543455 21.27075 23.632322 28.359617 33.08691 37.814205"
               y="0"
               id="tspan288">{{ datetime }}</tspan></text></g></g></g><g
       id="g292"><g
         id="g294"
         clip-path="url(#clipPath298)"><g
           id="g300"><text
             transform="matrix(1,0,0,-1,310.6183,692.3072)"
             style="font-variant:normal;font-weight:bold;font-size:10px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text304"><tspan
               x="0 7.2216802 12.783203 18.891602 21.669922 24.44824 27.226561 30.004881 37.226562 42.226562 45.004883 51.113277 57.221676"
               y="0"
               id="tspan302">Daniil Dziuba</tspan></text></g></g></g><g
       id="g306"><g
         id="g308"
         clip-path="url(#clipPath312)"><g
           id="g314"><text
             transform="matrix(1,0,0,-1,193.4793,686.2927)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text318"><tspan
               x="0 4.25 8.9772949 10.865723 15.593017 17.95459 22.681883 27.409178 31.659178 34.020752 35.90918"
               y="0"
               id="tspan316">splatnosti:</tspan></text></g></g></g><g
       id="g320"><g
         id="g322"
         clip-path="url(#clipPath326)"><g
           id="g328"><text
             transform="matrix(1,0,0,-1,234.75,686.2927)"
             style="font-variant:normal;font-weight:bold;font-size:8.5px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text332"><tspan
               x="0 4.7272944 9.4545889 11.816161 16.543455 21.27075 23.632322 28.359617 33.08691 37.814205"
               y="0"
               id="tspan330">{{ datenow }}</tspan></text></g></g></g><g
       id="g334"><g
         id="g336"
         clip-path="url(#clipPath340)"><g
           id="g342"><text
             transform="matrix(1,0,0,-1,310.5,674.7732)"
             style="font-variant:normal;font-weight:normal;font-size:9px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text346"><tspan
               x="0 8.4946289 13.5 15.499512 17.499023 22.504395 27.004395 32.009766 34.510254 39.515625 44.520996 49.526367 54.531734 57.032223"
               y="0"
               id="tspan344">Weilova 1144/2</tspan></text></g></g></g><g
       id="g348"><g
         id="g350"
         clip-path="url(#clipPath354)"><g
           id="g356"><text
             transform="matrix(1,0,0,-1,310.5,661.8898)"
             style="font-variant:normal;font-weight:normal;font-size:9px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text360"><tspan
               x="0 5.0053706 10.010741 15.016112 17.5166 22.521971 27.527342 30.02783 36.030758 39.027828 44.033199 49.03857"
               y="0"
               id="tspan358">102 00 Praha</tspan></text></g></g></g><g
       id="g362"><g
         id="g364"
         clip-path="url(#clipPath368)"><g
           id="g370"><text
             transform="matrix(1,0,0,-1,204.8201,648.9127)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text374"><tspan
               x="0 5.6694336 7.5578618 12.285156 14.646729 19.374023 24.101316"
               y="0"
               id="tspan372">Platba:</tspan></text></g></g></g><g
       id="g376"><g
         id="g378"
         clip-path="url(#clipPath382)"><g
           id="g384"><text
             transform="matrix(1,0,0,-1,234.2869,648.9127)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text388"><tspan
               x="0 6.1384282 10.865723 13.227295 17.95459 22.20459"
               y="0"
               id="tspan386">Hotově</tspan></text></g></g></g><g
       id="g390"><g
         id="g392"
         clip-path="url(#clipPath396)"><path
           d="m 309,642.326 h 254.4375 v 0.75 H 309 Z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path398" /></g></g><g
       id="g400"><g
         id="g402"
         clip-path="url(#clipPath406)"><g
           id="g408"><text
             transform="matrix(1,0,0,-1,310.5,649.4832)"
             style="font-variant:normal;font-weight:normal;font-size:9px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text412"><tspan
               x="0 6.4995122 11.504883 16.004883 20.504883 25.510254 28.010742 31.007812 36.013184 41.018555 46.023922 51.029293 53.028805 55.028316 59.528316"
               y="0"
               id="tspan410">Česká republika</tspan></text></g></g></g><g
       id="g414"><g
         id="g416"
         clip-path="url(#clipPath420)"><g
           id="g422"><text
             transform="matrix(1,0,0,-1,310.62,618.6217)"
             style="font-variant:normal;font-weight:bold;font-size:9px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text426"><tspan
               x="0 6.4995122 11.99707 17.494629 20.491699 25.497068 30.502439 33.499512 38.997066 41.497555 43.998043 49.495602 54.99316 59.998531 62.49902"
               y="0"
               id="tspan424">Kontaktní údaje</tspan></text></g></g></g><g
       id="g428"><g
         id="g430"
         clip-path="url(#clipPath434)"><g
           id="g436"><text
             transform="matrix(1,0,0,-1,318.4152,607.3484)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text440"><tspan
               x="0 4.25 11.330566 16.057861 20.785156 25.512449"
               y="0"
               id="tspan438">Jméno:</tspan></text></g></g></g><g
       id="g442"><g
         id="g444"
         clip-path="url(#clipPath448)"><g
           id="g450"><text
             transform="matrix(1,0,0,-1,350.0357,607.3484)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text454"><tspan
               x="0 6.1384282 10.865723 15.593017 17.481445 19.369873 21.258301 23.619873 29.758301 34.008301 35.896729 40.624023 45.351318"
               y="0"
               id="tspan452">Daniil Dziuba</tspan></text></g></g></g><g
       id="g456"><g
         id="g458"
         clip-path="url(#clipPath462)"><g
           id="g464"><text
             transform="matrix(1,0,0,-1,315.5794,596.3523)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text468"><tspan
               x="0 5.1921382 9.9194326 11.80786 16.535156 18.896727 23.624022 28.351316"
               y="0"
               id="tspan466">Telefon:</tspan></text></g></g></g><g
       id="g470"><g
         id="g472"
         clip-path="url(#clipPath476)"><g
           id="g478"><text
             transform="matrix(1,0,0,-1,350.0357,596.3523)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text482"><tspan
               x="0 4.9638672 9.6911621 14.418456 19.145752 23.873045 28.60034 33.327633 38.054928 42.782223 47.509518 52.236813 56.964108"
               y="0"
               id="tspan480">+420773204574</tspan></text></g></g></g><g
       id="g484"><g
         id="g486"
         clip-path="url(#clipPath490)"><g
           id="g492"><text
             transform="matrix(1,0,0,-1,319.843,585.3562)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text496"><tspan
               x="0 5.6694336 8.5 15.580566 20.307861 22.196289 24.084717"
               y="0"
               id="tspan494">E-mail:</tspan></text></g></g></g><g
       id="g498"><g
         id="g500"
         clip-path="url(#clipPath504)"><g
           id="g506"><text
             transform="matrix(1,0,0,-1,350.0357,585.3562)"
             style="font-variant:normal;font-weight:normal;font-size:8.5px;font-family:Arial;-inkscape-font-specification:Arial;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text510"><tspan
               x="0 4.7272944 9.4545889 14.181884 16.070312 18.431883 23.159178 27.409178 32.136475 36.863766 41.591061 46.318356 51.04565 55.772945 60.50024 69.128899 73.856194 80.93676 85.664055 87.552483 89.44091 91.802483 96.052483 100.77978"
               y="0"
               id="tspan508">dani.dzuba2022@gmail.com</tspan></text></g></g></g><g
       id="g512"><g
         id="g514"
         clip-path="url(#clipPath518)"><path
           d="m 56.25,555.1149 h 509.4861 v 0.75 H 56.25 Z"
           style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path520" /></g></g><g
       id="g522"><g
         id="g524"
         clip-path="url(#clipPath528)"><g
           id="g530"><text
             transform="matrix(1,0,0,-1,57.75,559.141)"
             style="font-variant:normal;font-weight:bold;font-size:6.75px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text534"><tspan
               x="0 5.1976318 8.7473145 13.068237 17.109009 20.668579 24.676392 28.997314 31.03418 33.011719 37.260132 41.426147 45.674561 49.715332 53.620972 57.68811"
               y="0"
               id="tspan532">Označení dodávky</tspan></text></g></g></g><g
       id="g536"><g
         id="g538"
         clip-path="url(#clipPath542)"><g
           id="g544"><text
             transform="matrix(1,0,0,-1,403.5294,559.141)"
             style="font-variant:normal;font-weight:bold;font-size:6.75px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text548"><tspan
               x="0 4.4362798 8.6022949 12.161866 16.169678"
               y="0"
               id="tspan546">Počet</tspan></text></g></g></g><g
       id="g550"><g
         id="g552"
         clip-path="url(#clipPath556)"><g
           id="g558"><text
             transform="matrix(1,0,0,-1,425.5039,559.141)"
             style="font-variant:normal;font-weight:bold;font-size:6.75px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text562"><tspan
               x="0 6.4368896 8.5462646 10.523804 12.972657"
               y="0"
               id="tspan560">m. j.</tspan></text></g></g></g><g
       id="g564"><g
         id="g566"
         clip-path="url(#clipPath570)"><g
           id="g572"><text
             transform="matrix(1,0,0,-1,468.8529,559.141)"
             style="font-variant:normal;font-weight:bold;font-size:6.75px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text576"><tspan
               x="0 4.5054932 8.5133057 12.834229 16.875 18.852539 22.402222 26.442993 28.420532 34.857422 36.966797 39.415649"
               y="0"
               id="tspan574">Cena za m.j.</tspan></text></g></g></g><g
       id="g578"><g
         id="g580"
         clip-path="url(#clipPath584)"><g
           id="g586"><text
             transform="matrix(1,0,0,-1,539.1741,559.141)"
             style="font-variant:normal;font-weight:bold;font-size:6.75px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text590"><tspan
               x="0 4.5054932 8.5133057 10.550171 14.61731 18.625122"
               y="0"
               id="tspan588">Celkem</tspan></text></g></g></g><g
       id="g592"><g
         id="g594"
         clip-path="url(#clipPath598)"><g
           id="g600"><text
             transform="matrix(1,0,0,-1,57.75,545.9441)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Tahoma;-inkscape-font-specification:Tahoma;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text604"><tspan
               x="0 4.590332 8.4902344 13.237793"
               y="0"
               id="tspan602">{{ currency }}</tspan></text></g></g></g><g
       id="g606"><g
         id="g608"
         clip-path="url(#clipPath612)"><g
           id="g614"><text
             transform="matrix(1,0,0,-1,401.2783,545.9441)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Tahoma;-inkscape-font-specification:Tahoma;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text618"><tspan
               x="0"
               y="0"
               id="tspan616">{{ amount }}</tspan></text></g></g></g><g
       id="g620"><g
         id="g622"
         clip-path="url(#clipPath626)"><g
           id="g628"><text
             transform="matrix(1,0,0,-1,493.2475,545.9441)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Tahoma;-inkscape-font-specification:Tahoma;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text632"><tspan
               x="0"
               y="0"
               id="tspan630">{{ rate }}</tspan></text></g></g></g><g
       id="g634"><g
         id="g636"
         clip-path="url(#clipPath640)"><g
           id="g642"><text
             transform="matrix(1,0,0,-1,537.2757,545.9441)"
             style="font-variant:normal;font-weight:normal;font-size:7px;font-family:Tahoma;-inkscape-font-specification:Tahoma;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text646"><tspan
               x="0"
               y="0"
               id="tspan644">{{ end_rate }}</tspan></text></g></g></g><g
       id="g648"><g
         id="g650"
         clip-path="url(#clipPath654)"><path
           d="M 565.875,543.3733 H 56.625"
           style="fill:none;stroke:#c0c0c0;stroke-width:0.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:0.75, 1.5;stroke-dashoffset:0;stroke-opacity:1"
           id="path656" /><path
           d="m 565.875,543.7483 v -0.75 h 0.375 v 0.75 z"
           style="fill:#c0c0c0;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path658" /><path
           d="m 56.625,542.9983 v 0.75 H 56.25 v -0.75 z"
           style="fill:#c0c0c0;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="path660" /></g></g><g
       id="g662"><g
         id="g664"
         clip-path="url(#clipPath668)"><g
           id="g670"><text
             transform="matrix(1,0,0,-1,335.1353,494.8126)"
             style="font-variant:normal;font-weight:bold;font-size:12px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text674"><tspan
               x="0 8.6660156 15.339844 18.673828 25.347654 32.021484 42.691406 46.025391 52.699215 56.033199 63.363277 70.693359 75.363281 82.037109 89.36718 96.041008"
               y="0"
               id="tspan672">Celkem k úhradě:</tspan></text></g></g></g><g
       id="g676"><g
         id="g678"
         clip-path="url(#clipPath682)"><g
           id="g684"><text
             transform="matrix(1,0,0,-1,487.5752,494.8126)"
             style="font-variant:normal;font-weight:bold;font-size:12px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text688"><tspan
               x="0"
               y="0"
               id="tspan686">{{ end_rate }}</tspan></text></g></g></g><g
       id="g690"><g
         id="g692"
         clip-path="url(#clipPath696)"><g
           id="g698"><text
             transform="matrix(1,0,0,-1,538.069,494.3274)"
             style="font-variant:normal;font-weight:bold;font-size:12px;font-family:Arial;-inkscape-font-specification:'Arial Bold';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text702"><tspan
               x="0 8.6660156"
               y="0"
               id="tspan700">Kč</tspan></text></g></g></g><g
       id="g704"><g
         id="g706"
         clip-path="url(#clipPath710)"><g
           id="g712"><text
             transform="matrix(1,0,0,-1,85.1383,22.7372)"
             style="font-style:italic;font-variant:normal;font-size:6px;font-family:Arial;-inkscape-font-specification:'Arial Italic';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text716"><tspan
               x="0 4.0019531 7.0019531 8.6689453 10.001953 13.001953 16.001953 17.334961 19.333008 22.669922 24.667969"
               y="0"
               id="tspan714"></tspan></text></g></g></g><g
       id="g718"><g
         id="g720"
         clip-path="url(#clipPath724)"><g
           id="g726"><text
             transform="matrix(1,0,0,-1,116.14019,22.7372)"
             style="font-style:italic;font-variant:normal;font-size:6px;font-family:Arial;-inkscape-font-specification:'Arial Italic';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text730"><tspan
               x="0 1.6669919 3.3339839 6.670898 10.007812 11.674804 15.011718 18.348631 20.015623 23.352537 26.689451 30.026365 33.363277 35.03027 38.367184 41.704098 43.37109 46.708004 50.044918 51.71191 55.048824"
               y="0"
               id="tspan728"></tspan></text></g></g></g><g
       id="g732"><g
         id="g734"
         clip-path="url(#clipPath738)"><g
           id="g740"><text
             transform="matrix(1,0,0,-1,234.1745,22.7372)"
             style="font-style:italic;font-variant:normal;font-size:6px;font-family:Arial;-inkscape-font-specification:'Arial Italic';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text744"><tspan
               x="0 4.0019531 7.0019531 10.001953 11.668945 15.005859 18.005859 21.342773 24.679688 28.0166 29.683592 32.683594 34.350586 37.6875 41.02441 42.357422 43.69043 47.02734 50.364254 52.031246 53.698238 57.035152 60.035152 61.702145 65.039062 67.037109 70.374023 73.374023 76.71093 78.377922 80.044914 83.044914 84.377922 87.714836 90.714836 94.05175 97.388664 99.055656 100.38866 104.72167 108.05859 111.05859 112.39159 115.72851 119.06542 120.73241 125.06542 129.39844 133.73145 135.39844 136.73145 141.06445 144.40137 147.40137 148.73438 152.07129 155.4082 157.0752 160.0752"
               y="0"
               id="tspan742"></tspan></text></g></g></g><g
       id="g746"><g
         id="g748"
         clip-path="url(#clipPath752)"><g
           id="g754"><text
             transform="matrix(1,0,0,-1,521.9505,22.7372)"
             style="font-style:italic;font-variant:normal;font-size:6px;font-family:Arial;-inkscape-font-specification:'Arial Italic';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text758"><tspan
               x="0 4.0019531 5.6689453 7.6669922 11.003906 14.340819"
               y="0"
               id="tspan756"></tspan></text></g></g></g><g
       id="g760"><g
         id="g762"
         clip-path="url(#clipPath766)"><g
           id="g768"><text
             transform="matrix(1,0,0,-1,542.6282,23.2216)"
             style="font-style:italic;font-variant:normal;font-size:6px;font-family:Arial;-inkscape-font-specification:'Arial Italic';writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
             id="text772"><tspan
               x="0 3.3369138 5.0039058"
               y="0"
               id="tspan770"></tspan></text></g></g></g></g></svg>

</div>
</body>
</html>
